#work
	{
		/*position:relative;*/
	font-family: 'Monoton', cursive;
	font-size:50px;
	text-align:center;
	top:110px;
	
	color:white;
	
	}
	#photo{
		/*position:relative;*/
	font-family: 'Monoton', cursive;
	font-size:36px;
	
	color:white;
	
	}
	#illustration{
	/*position:relative;*/
	font-family: 'Monoton', cursive;
	font-size:36px;
	text-align: center;
	color:white;
	
	}
	#blog{
		/*position:relative;*/
	font-family: 'Monoton', cursive;
	font-size:36px;
	color:white;
	
	}
	